<!DOCTYPE html>
<html>

<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Site Title -->
    <title>Job</title>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <div class="holder">






        <!-- start banner Area -->
        <section class="banner-area relative" id="home" style="background:black ;
    background-size: cover">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-left justify-content-left">
                    <div class="job-content col-lg-8">
                        <h2 class="text-white">
                            {{toDisp.[0]}}
                        </h2><BR>
                        <p class="text-white">{{toDisp.[2]}}<br>
                            Job ID: {{toDisp.[1]}}</p>
                        <br>
                        <ul class="row contact-social">
                            <li>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="job-content col-lg-2">
                        <a href="/upload?id={{toDisp.[1]}}">
                            <btn class="applybox text-white">Apply Now</btn>
                        </a>
                    </div>
                    <div class="job-content col-lg-2">
                        <a href="/">
                            <btn class="applybox1 text-black">Search </btn>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End banner Area -->

        <!-- careers -->
        <section id="careers" class="careers">
            <div class="container">
                <hr>
                <!-- <div class="row align-items-center justify-content-center" data-aos="fade-up">
                <h1>Come, be a part of our family!</h1>
            </div> -->



                <div class="row  careers-content" data-aos="fade-up">
                    <div class="jobs-left">
                        <div class="contact-info">
                            <div class="cinfo">
                                <h4>Description</h4>
                            </div><br>

                            <div class="careerinfo">




                                <p>{{toDisp.[6]}}</p>
                                <p>{{toDisp.[7]}}</p>
                                <p>{{toDisp.[8]}}</p>

                                {{!-- <p>Join one of the Fastest Growing High Technology Companies in the US! Silicon is
                                    seeking a talented senior level Solution-to-Cost Architect to join its growing team.
                                </p>

                                <p> The Solution-to-cost team is recently formed and fast growing. This role is a
                                    leadership role in India with a focus on tactical solution-to-cost analysis,
                                    strategic consulting, leadership, and building a new capability within Silicon.
                                </p>


                                <p> This role engages with pursuit teams on the largest, most complex, multi-tower
                                    (including IT, Infrastructure and Business Processes) engagements in North America
                                    and Europe. This role is responsible for helping to determine the winning solution
                                    cost/price using the client requirements, client buyer values, competitive
                                    landscape, & market benchmarks to estimate a winning target price range. The
                                    Solution-to-cost architect then works with pricers and solution architects to build
                                    a deliverable solution that fits within that target price range.</p>

                                <p>
                                    This individual will also be responsible for providing mentorship the
                                    Solution-to-cost team in India, establishing highly repeatable best practices, and
                                    working closely with Executive leadership on deal pricing and solutioning to ensure
                                    competitive and profitable pricing.</p> --}}

                            </div>

                            <div class="careerinfo">
                                <h6>Key accountabilities include:</h6>
                                <ul>
                                    <p>{{toDisp.[10]}}</p>
                                </ul>
                                {{!-- <ul>
                                    <li>
                                        Perform a solution-to-cost analysis, comprised of pricing a solution using
                                        market benchmark data
                                    </li>
                                    <li>Collaborate with Program Managers, Solution Architect and Executive leadership
                                        on deal shaping activities for very large opportunities </li>
                                    <li> Define the solution vision and direction building on synergies and benefits
                                        across service lines and technologies using market benchmarks</li>
                                    <li>Provide expertise on commercially structuring deals so as to differentiate from
                                        the competition </li>
                                    <li>Ensure that deals are solutioned and priced to be deliverable, profitable, and
                                        winnable.</li>
                                    <li>Provide leadership to the team and mentor the less senior team members
                                        Improve the solution-to-cost capabilities, tools, & processes</li>
                                </ul> --}}
                                <p>

                                </p>
                                <p>{{toDisp.[8]}}</p>
                            </div>

                            <div class="careerinfo">

                                <p>
                                    <span class="sub">Key skills required :</span>
                                    {{toDisp.[11]}}
                                </p>
                                <p><span class="sub">Role :</span>
                                    {{toDisp.[9]}}
                                </p>
                                <p><span class="sub">Key skills :</span>
                                    {{toDisp.[11]}}
                                </p>
                                <p>{{toDisp.[8]}}</p>
                            </div>



                        </div>
                    </div>
                    <div class="jobs-right">
                        <div class="job-box">
                            <ul>
                                <li><span class="sub">Job ID:</span> &nbsp; {{toDisp.[1]}}</li>
                                <li><span class="sub">Location:</span>&nbsp; {{toDisp.[2]}}</li>
                                <li><span class="sub">Line of service:</span>&nbsp; Advisory</li>
                                <li><span class="sub">Specialization:</span>&nbsp; Operations</li>
                                <li><span class="sub">Grade:</span>&nbsp; {{toDisp.[0]}}</li>

                            </ul>
                        </div>
                        <br>
                        <hr>
                    </div>

                </div>
            </div>
        </section>


    </div>



</body>

</html>